/*make sure assets folder is in the same directory as index.html, style.css, and app.js.  Rename as necessary*/

* {
  margin: 0px;
}

header img {
  height: 135px;
  /*width: 2000px;*/
}

header {
  height: 135px;
  position: fixed;
  z-index: 9999;
}

main {
  /*background-image: url(assets/escapeBackground.jpg);*/
  background-color: black;
  background-size: 100%;
  width: 100%;
  height: 1200px;
}

/*space behind title bar*/
#pagebreak {
  height: 135px;

}

#leverSection{
  display: inline-block;
}

#lever {
  height: 100%;
  display: inline-block;

}

#SlotContainer {
  margin: auto;
  width: 826.5px;
  height: 400px;
  display: inline-block;
  position: relative;
}

#left{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 31%;
  left: 16%;


}

#right{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 31%;
  left: 61.5%;
}

#center{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 31%;
  left: 39.5%;
}

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);


body{
  background: black;
  text-align: center;
  width: 100%;
}

svg{
  width: 600px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: black;
}

#instruct{
  color: white;
  font-family: monospace;
  font-size: 30px;
  margin-top: 100px;
}

#win{
  padding-top: 20px;
  margin: auto;
  color: white;
  font-size: 20px;
  font-family: monospace;
}

#nextLink{
  margin: auto;
  color: white;
  font-size: 30px;
  font-family: monospace;
}

#headtitle{
  text-align: center;
  padding-left: 5%;
}

#slotback{
  position: relative;
  display: inline-block;
}
