/*make sure assets folder is in the same directory as index.html, style.css, and app.js.  Rename as necessary*/

* {
  margin: 0px;
}

header img {
  height: 135px;
  /*width: 2000px;*/
}

header {
  height: 135px;
  position: fixed;
}

main {
  /*background-image: url(assets/escapeBackground.jpg);*/
  background-color: black;
  background-size: 100%;
  width: 100%;
  height: 1200px;
}

/*space behind title bar*/
#pagebreak {
  height: 135px;

}
body{
  font-family: 'Shadows Into Light', cursive;
  color: white;
  background-color: black;

}
h2 , p{
  text-align: center;
  margin-bottom: 5%;
  padding-top: 1%;
  color: white;
  max-width: 50%;
  margin: auto;

}
body p{
  text-align: center;
  margin-bottom: 5%;
  padding-top: 1%;
  color: white;
  max-width: 90%;
  margin: auto;
  display: block;

}

#riddle-container, #code-container{
  display: inline-block;
}
#riddle-container{
  border: 3px solid white;
  width: 50%;
  height: auto;
  float: left;
  margin-left: 5%;
  width: 75%;
}
#riddle{
  width: 100%;
}
#code-container{
  border: 3px solid white;
  width: 15%;
  float: right;
  margin-right: 3%;
}
.all-stuff{
object-fit: fill;
}
form{
  margin: auto;
  text-align: center;
  max-width: 90%;
  margin-top: 10%;
}
fieldset{
  border: 3px solid white;
  padding: 1%;
  width: 100%;
}
