/*make sure assets folder is in the same directory as index.html, style.css, and app.js.  Rename as necessary // changing for changings sake*/

* {
  margin: 0px;
}

header img {
  height: 135px;
}

header {
  height: 135px;
  position: fixed;
}

h1 {
  text-align: center;
}

main {
  /*background-image: url(assets/escapeBackground.jpg);*/
  background-color: black;
  background-size: 100%;
  width: 100%;
  height: 1200px;
}

.mainContent {
  font-size: 70px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  padding-top: 80px;
  color: white;
}

.listItem {
  font-size: 50px;
  text-align: left;
}

#question {
  font-size: 70px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  padding-top: 80px;
  color: white;
 }

#possibleAnswers {
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  text-align: center;
  list-style: none;
  cursor: pointer;
}

.ul {
  margin-left: 50px;
}

footer {
  background-color: black;
}

/*space behind title bar*/
#pagebreak {
  height: 135px;
}

#hiddenLink {
  font-size: 25px;
}

.image {
  margin: 10px;
  display: inline;
  width: 300px;
}
