/*make sure assets folder is in the same directory as index.html, style.css, and app.js.  Rename as necessary // changing for changings sake*/

* {
  margin: 0px;
}

header img {
  height: 135px;
}

header {
  height: 135px;
  position: fixed;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

main {
  /*background-image: url(assets/escapeBackground.jpg);*/
  display: fixed;
  background-color: black;
  background-size: 100%;
  width: 100%;
  height: 700px;
}

ul {
  padding: 0px;
}

.listItem {
  font-size: 50px;
  text-align: left;
}

#question {
  font-size: 50px;
  font-family: 'Share Tech Mono', monospace;
  color: white;
  text-align: center;
  padding-top: 80px;
 }

#possibleAnswers {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  font-size: 50px;
  text-align: center;
  list-style: none;
  cursor: pointer;
}

footer {
  background-color: black;
}

/*space behind title bar*/
#pagebreak {
  height: 135px;
}

#hiddenLink {
  font-size: 25px;
}

#image1 {
  margin: 10px;
  display: inline;
  width: 300px;
}

#image2 {
  margin: 10px;
  display: inline;
  width: 300px;
}

#image3 {
  margin: 10px;
  display: inline;
  width: 300px;
}
